/Website/.phpunit.cache
/Website/node_modules
/Website/public/build
/Website/public/hot
/Website/public/storage
/Website/storage/*.key
/Website/vendor
/Website/.env
/Website/.env.backup
/Website/.env.production
/Website/.phpactor.json
/Website/.phpunit.result.cache
/Website/Homestead.json
/Website/Homestead.yaml
/Website/auth.json
/Website/npm-debug.log
/Website/yarn-error.log
/Website/.fleet
/Website/.idea
/Website/.vscode
/Website/.zed
